
.accordion-button {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-item {
  background-color: transparent !important;
  border: none !important;
}


.transparent-accordion .accordion-item {
  background-color: transparent;
  border: none;
}

.transparent-accordion .accordion-header {
  background-color: transparent;
}

.book-image {
  width:395px;
  height: 550px;
  border-radius: 8px;
  object-fit: cover;
}

.list-item-button {
  cursor: pointer !important;
  transition: background-color 0.2s ease-in-out !important;
}

.list-item-button:hover {
  background-color: #D3D3D3 !important;
}